<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hb.aiyouxiba">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />




    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />



    <queries>
        <package android:name="com.tencent.mm" />
        <package android:name="com.tencent.mobileqq" />
    </queries>



    <application
        android:name="com.carrydream.cardrecorder.BaseApplication"
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"

        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme">
<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->




        <activity
            android:name="com.hb.aiyouxiba.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name="com.carrydream.cardrecorder.ui.activity.HtmlActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.carrydream.cardrecorder.ui.activity.FeedbackActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.carrydream.cardrecorder.ui.activity.AboutActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.carrydream.cardrecorder.ui.activity.VipActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.carrydream.cardrecorder.ui.activity.LoginActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.carrydream.cardrecorder.ui.activity.HomeActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.carrydream.cardrecorder.ui.activity.ScreenActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" /> &gt; <activity
        android:name="com.carrydream.cardrecorder.ui.activity.LauncherActivity"
        android:exported="true"
        android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity
            android:name="com.huantansheng.easyphotos.ui.EasyPhotosActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/EasyPhotosTheme"
            tools:replace="android:configChanges"/>
        <activity
            android:name="com.huantansheng.easyphotos.ui.PreviewActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/EasyPhotosFullscreenTheme"
            tools:replace="android:configChanges"/>
        <activity
            android:name="com.huantansheng.easyphotos.ui.PuzzleActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/EasyPhotosTheme"
            android:windowSoftInputMode="adjustPan"
            tools:replace="android:configChanges"/>
        <activity
            android:name="com.huantansheng.easyphotos.ui.PuzzleSelectorActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/EasyPhotosTheme"
            tools:replace="android:configChanges"/>
        <activity
            android:name="com.yhao.floatwindow.FloatActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="standard"
            android:theme="@style/permission_PermissionActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:replace="android:configChanges,android:windowSoftInputMode"/>

        <service
            android:name="com.mask.mediaprojection.service.MediaProjectionService"
            android:foregroundServiceType="mediaProjection" />
        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:directBootAware="true"
            android:exported="false"
            tools:ignore="MissingClass">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.firestore.FirestoreRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>

        <activity
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="${applicationId}.firebaseinitprovider"
            android:directBootAware="true"
            android:exported="false"
            android:initOrder="100" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:replace="android:authorities">
<!--            <meta-data-->
<!--                android:name="androidx.emoji2.text.EmojiCompatInitializer"-->
<!--                android:value="androidx.startup" />-->
<!--            <meta-data-->
<!--                android:name="androidx.lifecycle.ProcessLifecycleInitializer"-->
<!--                android:value="androidx.startup" />-->
        </provider>



    </application>

</manifest>